.containerEditRamal{
    display: flex;
    justify-content: center;
}

.formRamal{
    width: 40%;
    border: 5px ridge #014866;
    padding: 10px;
}

.formRamal input{
    margin: 5px;
    width: 80%;
    background-color: #DADADA;
    padding: 2px;
}

