.containerLogin {
  background-color: #ffff ;
  margin-top: 15rem;
  width: 20rem;
  height: 20rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #004866;
}

.inputLogin {
  margin-top: 5px;
  padding: 5px;
  width: 15rem;
  border-radius: 5px;
  border: 2px solid #004866;
}

.buttonLogin {
  margin-top: 10px;
  border-radius: 8px;
  padding: 5px;
  border: 2px solid #004866;
  background-color: #004866;
  color: white;
}

.imgLogin {

  display: block;
  margin-left: 3.5rem;
  
}
