.containerBox {
  margin-top: 4rem;
  width: 28rem;
  height: auto;
  border: 1px solid #000000;
}

.titleSetor {
  font-size: 19px;
  margin-top: 1.5rem;
  padding: 0.6rem;
  border-radius: 15px;
  background-color: #004866;
  color: white;
  width: 25rem;
  height: auto;
  display: inline-block;
}

.containerTable {
  border-collapse: collapse;
  width: 23.5rem;
  display: inline-table;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.containerTable thead th {
  background-color: #EAEAEA;
  padding: 6px;
  border-bottom: 0.5rem solid #F5F5F5;
}

.containerTable tbody tr td {
  padding: 6px;
  background-color: #FFFFFF;
}


.containerTableAdmin {
  border-collapse: collapse;
  width: 80rem;
  display: inline-table;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  justify-self: center;
}

.containerTableAdmin thead th {
  
  background-color: #474747;
  color: white;
  padding: 6px;
  border-bottom: 0.5rem solid #fbfbfb;
}

.containerTableAdmin tbody tr td {
  padding: 6px;
  background-color: #a6a2a2;
}
