.containerBox {
  margin-top: 4rem;
  width: 28rem;
  height: auto;
}

.titleSetor {
  font-size: 19px;
  margin-top: 1.5rem;
  padding: 0.6rem;
  border-radius: 15px;
  background-color: #004866;
  color: white;
  width: 26rem;
  height: auto;
  display: inline-block;
}


