.containerList {
  background-color: #004866;
  padding: 10px;
  border-radius: 20px;
  width: 432px;
  height: 40px;
  color: white;
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 3px 3px 3px black;
  transition: 0.2s all;
}

.containerList:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
